# Ignore everything
*

# But not these files...
!.gitignore

# node files
!package.json
!package-lock.json

# typescript files
!*.ts

# config files
!biome.json
!tsconfig.json
!tsconfig.build.json
!jest.config.cjs
!flake.*

# Documentation
!LICENSE
!README.md
!CONTRIBUTING.md

# Build files
!.github/**/*
!.vscode/**/*

# ...even if they are in subdirectories
!*/

# keep always ignored
node_modules/
dist/
coverage/
